@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  border: aliceblue;
  border-color: aliceblue;
  background-color: aliceblue;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 100px;
  align-content: center;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 15px;
  font-size: 10px;
}

.navbar li {
  padding: 20px;
  font-weight: 400;
  padding-top: 4em;
}

.navbar li a {
  text-decoration: none;
  padding: 6px;
  color: #333;
}

a.btn-blue {
  background: blueviolet;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

a.btn-biru {
  font-size: 18px;
  margin-top: 16px;
  background: rgb(43, 80, 226);
  border-radius: 20px;
  margin-top: 30px;
  padding: 4px 12px 4px 12px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  top: 16px;
  left: 16px;
}

a.btn-blue:hover {
  background: #b0daff;
  text-decoration: none;
}

a.btn-see {
  background: blueviolet;
  border-radius: 20px;
  margin-top: 40px;
  padding: 15px 20px 15px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

a.btn-see:hover {
  background: #b0daff;
  text-decoration: none;
}

.container {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 32px auto auto;
  display: grid;
  grid-row-gap: 16px;
  text-align: left;
  width: 70%;
}

.sikolog {
  position: relative;
  margin-top: 2em;
  overflow: hidden;
}

.psikolog {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border: 1px grey;
  border-radius: 2em;
  width: 40%;
  height: 180px;
  position: relative;
}
.psikolog img {
  height: 100px;
  content: top;
}
